body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh !important;
    font-family: 'Noto Sans', sans-serif;
    color: #222222;
}

/* comienza clases reutilizables */

.btn-rojo {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-family: 'Noc', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #fb2056;;
    padding: 1rem 2rem;
    border-radius: 20px;
    display: inline-block;

    /* Aplica para Flexbox */
    align-self: center;
}

.frase {
    text-align: center;
}

/* terminan clases reutilizables */

/* comienza primera secci贸n */

#primera-seccion {
    background: linear-gradient(rgba(68, 13, 13, 0.35), rgba(38,2,2,0.446)), url(./assets/fondos/primera_seccion/fondo-primera.jpg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}

#barra-navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#logo {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-stretch: wider;
}

nav > a {
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav > a:hover {
    color: #fb2056;
}

#primera-seccion-contenido {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#primera-seccion-contenido > p {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#primera-seccion-contenido > hr {
    width: 4.5rem;
    border-color: #fb2056;
}

#primera-seccion-contenido > h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

/* termina primera secci贸n */

/* comienza segunda secci贸n */

#segunda-seccion{
    background-color: #f4f5f9;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

/* termine segunda secci贸n */


/* Footer */

footer {
    background-color: black;
    color: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Termina Footer */

/* ################################################################ */
/* ################################################################ */
/* ################################################################ */
/* ################################################################ */
/* ################################################################ */

@media(max-width:522px){
    #primera-seccion{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #barra-navegacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding-top: 2rem;
        padding-bottom: 0;
    }

    #barra-navegacion > p,
    nav {
        text-align: center;
    }

    #primera-seccion-contenido{
        margin-top: 2.5rem;
    }

    #primera-seccion-contenido > h1{
        font-size: 2.5rem;
    }

    /*Tercera seccion*/

    #tercera-seccion {
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 90%;
    } 

    #container-tercera-seccion {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .img-tercera {
        margin-bottom: 2rem;
    }

    .img-tercera > img {
        max-width: 100%;
    }

    /*Cuarta Seccion*/

    #cuarta-seccion-izq {
        display: none;
    }

    #cuarta-seccion-der{
        width: 100%;
    }

    /*Quinta Seccion*/
    #quinta-seccion {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #quinta-seccion-derecha{
        flex: 1;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        gap: 15px 10px;
        justify-items: center;
        align-items: center;
    }

}